{% extends 'base.html' %}
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    {% block body %}
    <table>
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="orderTableBody">
            <!-- Table rows will be appended here -->
            {% set ns = namespace(total_amount = 0) %}
            {% for bookName, details in cart_data.items() %}
            <tr>
                <td>{{ bookName }}</td>
                <td>{{ details.quantity }}</td>
                {% if details is mapping %}
                <td>{{ details.price|float|round }}</td>
                <td>{{ (details.quantity * details.price|float)|round }}</td>
                {% set  ns.total_amount=ns.total_amount + (details.quantity * details.price|float)|round %}
                {% else %}
                <td colspan="2">Price not available</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Total Amount</td>
                <td>{{ ns.total_amount }}</td>
            </tr>
        </tbody>
    </table>
    {% endblock %}
</body>
</html>
